    #nav {
        position: relative;
        width: 800px;
        height: auto;
        background-color: rgb(255, 255, 255);
    }
    
    #live {
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
    .header .pb-0 .bg-white {
        width: fit-content;
        position: absolute;
        padding-top: 0;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
    }
    
    @media only screen and (min-width: 415px) {
        /* Styles */
        #nav {
            position: relative;
            width: fit-content;
            height: auto;
        }
        #live {
            width: fit-content;
            position: relative;
        }
        .header .pb-0 .bg-white {
            width: fit-content;
            position: absolute;
            padding-top: 0;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
        }
    }
    
    @media only screen and (max-width: 991px) {
        /* Styles */
        #nav {
            position: relative;
            width: fit-content;
            height: auto;
            background-color: aqua;
        }
        #live {
            width: fit-content;
            background-color: aquamarine;
            position: relative;
        }
        .header .pb-0 .bg-white {
            width: fit-content;
            position: absolute;
            padding-top: 0;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
        }
    }
    
    @media only screen and (max-width:768px) {
        #nav {
            position: relative;
            width: fit-content;
            height: auto;
            background-color: aqua;
        }
        #live {
            width: fit-content;
            background-color: white;
            position: relative;
        }
        .header .pb-0 .bg-white {
            width: fit-content;
            position: absolute;
            padding-top: 0;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
        }
    }
    
    #btn {
        display: flex;
        direction: row;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
    }
    
    #section1 {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .carousel .z-10 {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
    
    html,
    body {
        /*font-size: 40px; /
    margin: 0;
    /* remove default margin */
        padding: 0;
        /* remove default padding */
        width: 100%;
        /* take full browser width */
        height: 100%;
        /* take full browser height*/
    }
    /* media query for index page */
    /*  i phone SE */
    
    @media screen and (min-width: 375px) and (min-height: 667px) {
        #live {
            width: 100vw;
            overflow-x: hidden;
            position: relative;
        }
        #nav0 {
            width: 100vw;
            overflow-x: hidden;
        }
        .carousel .z-10 .flickity-enabled .is-draggable {
            width: 100%;
            overflow-x: hidden;
            position: relative;
        }
        .pl-10 {
            width: 100%;
            overflow-x: hidden;
            position: relative;
            object-fit: cover;
            height: 100vh;
        }
        .t-white .pt-5 .mt-4 .pr-10 {
            width: 100%;
            height: 100vh;
            overflow-x: hidden;
            position: relative;
            object-fit: cover;
        }
        .v {
            display: flex;
            direction: row;
            justify-content: space-between;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
        }
        /* .b img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        } */
        .t-gray-10 .wb-break-all .t-3xl {
            width: 100vw;
            height: 100%;
            object-fit: cover;
        }
        .t-center .t-bold .t-5xl .aos-init .aos-animate {
            width: 100vw;
            height: 100%;
            object-fit: cover;
            font-size: xx-small;
        }
        .wrapper header {
            height: 58px;
            display: flex;
            width: 360px;
            align-items: center;
            border: 1px solid #ccc;
            border-radius: 30px;
            position: relative;
            margin-left: 35px;
        }
        .bt {
            float: right;
        }
        #videosec {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: space-around;
            justify-content: center;
            align-items: center;
        }
        #b0 {
            display: flex;
        }
        #nav3 {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;
        }
    }
    /*  iphone XR  */
    
    @media screen and (min-width: 414px) and (min-height: 896px) {
        #live {
            width: 100vw;
            overflow-x: hidden;
            position: relative;
        }
        #nav0 {
            width: 100vw;
            overflow-x: hidden;
        }
        .carousel .z-10 .flickity-enabled .is-draggable {
            width: 100%;
            overflow-x: hidden;
            position: relative;
        }
        .pl-10 {
            width: 100%;
            overflow-x: hidden;
            position: relative;
            object-fit: cover;
            height: 100vh;
        }
        .t-white .pt-5 .mt-4 .pr-10 {
            width: 100%;
            height: 100vh;
            overflow-x: hidden;
            position: relative;
            object-fit: cover;
        }
        .v {
            display: flex;
            direction: row;
            justify-content: space-between;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
        }
        .b img {
            width: 100vw;
            height: 100%;
            object-fit: cover;
        }
        .t-gray-10 .wb-break-all .t-3xl {
            width: 100vw;
            height: 100%;
            object-fit: cover;
        }
        .t-center .t-bold .t-5xl .aos-init .aos-animate {
            width: 100vw;
            height: 100%;
            object-fit: cover;
            font-size: xx-small;
        }
        /* .wrapper header {
            height: 58px;
            display: flex;
            width: 360px;
            align-items: center;
            border: 1px solid #ccc;
            border-radius: 30px;
            position: relative;
            margin-left: 35px;
        } */
        .bt {
            float: right;
        }
        #videosec {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: space-around;
            justify-content: center;
            align-items: center;
        }
        #b0 {
            overflow-x: hidden;
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: space-between;
            align-items: center;
        }
    }