.bg-custom-1 {
    background-color: #85144b;
}

.bg-custom-2 {
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.nav-link .px-lg-4:hover {
    color: rgb(201, 96, 25);
}

.navbar-list-2 {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    flex-direction: row-reverse;
}

#nav1:hover {
    color: #000000;
}

#nav0:hover {
    color: black;
}