<style type="text/css">
  .header{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 57%);
  }
  .logo{
    max-width: 2.25em;
  }
</style>

<div class="header d-flex align-items-center ">
  <div class="container-fluid d-flex align-items-center justify-content-between">
    
    <a href="./" class="logo d-flex align-items-center  me-auto me-lg-0">
      <img class="logo mx-1" src="assets/img/logo.png" alt="">
      <h1 class="m-0 text-success">LiveCristle</h1>
    </a>

    <button id="playaudio" type="button" class="btn btn-outline-success p-1 fw-bolder blink_me">
      START <img class="img-fluid" src="assets/img/icons/play.png" alt="">
    </button>
    
    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="index.html" class="active">Home</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
    
    <div class="header-social-links">
      <a href="tel:+919360966465" class="twitter"><i class="bi bi-twitter"></i></a>
      <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
      <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
      <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
    </div>
    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    
  </div>
</div>

<script>
  $("#playaudio").click(function (e) { 
    e.preventDefault();
    trackNumber=1+Math.floor(Math.random() * 2)
    tag=`
      <audio id="myAudio" >
        <source src="assets/cinematic${trackNumber}.mp3" type="audio/mpeg">
      </audio>
      `
    $('body').append(tag)
    // 
    document.getElementById("myAudio").play()
    // PLAY VIDEOS
    $('video').each((i,el)=>{ 
      el.play() 
    })
    // SHOW TEXT ANIMATION
    magictext()

    $(this).removeClass('blink_me')
    $(this).addClass('opacity-0')
    Swal.fire({
      position: 'top',
      icon: 'success',
      title: 'Full Experience Started',
      showConfirmButton: false,
      timer: 1500
    })
  });
</script>