

#feature-bar.row.mx-0.py-2.mt-3.shadow-2.rounded-2.bg-dark.text-white.font-4.font-sm 
	.col-4.d-flex.align-items-center
		img(src='./img/icons/bibimbap.png')
		.feature_text
			| Super Delicious Food and groceries Delivered to your home, ready to eat in 15 mins. 
	hr.d-lg-none
	.col-4.d-flex.align-items-center
		img(src='./img/icons/delivery.png')
		.feature_text
			| Dedicated Delivery Team ensures timely delivery. we don't compromise with your hunger.
	hr.d-lg-none
	.col-4.d-flex.align-items-center
		img(src='./img/icons/smartphone.png')
		.feature_text
			| Order On Phone, Laptop Or Tablet, our developers ensure you can access our app easily.

h1.display-1.text-center.font-3 Order Instantly!

section.py-3.product_section
	#card-gallery.row.px-1.px-lg-0.my-0.mx-0
	script
		include assets/js/card-generator.js



