/*nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a,
nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background: #262626;
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover,
nav ul li a:visited:hover {
    background: #2581DC;
    color: #ffffff;
} */


/* Mobile navigation */

#nav-mob {
    display: none;
    position: absolute;
    top: 0;
    float: right;
    padding-left: 0;
    padding-right: 50px;
    padding-bottom: 100px;
    right: 0;
    background: rgb(189, 186, 186);
    height: 70px;
    width: 70px;
}

#nav-toggle {
    position: absolute;
    left: 0px;
    padding-bottom: 50px;
    cursor: pointer;
    /*padding: 20px 10px 10px 20px;*/
    color: rgb(27, 7, 139);
}

.p-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .nav-mobile {
        display: block;
    }
    nav {
        width: 100%;
        padding: 10px 10px 10px;
        align-items: flex-end;
    }
    #nav {
        width: 100%
    }
    nav ul {
        display: none;
    }
    nav ul li {
        float: none;
    }
    nav ul li a {
        padding: 15px;
        line-height: 20px;
    }
}

@media screen and (min-width: 800px) {
    .nav-list {
        display: block !important;
    }
}

.nav-menu {
    padding-top: 20px;
}

.nav-mobile {
    padding-top: 10px;
    color: rgb(15, 15, 13);
}

#nav-toggle {
    position: absolute;
    left: 0px;
    top: 30px;
    cursor: pointer;
    padding: 20px 10px 10px 20px;
    color: rgb(8, 8, 8);
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

article {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}